# Ignorar todo por defecto
/*

# Pero dejar pasar estas carpetas específicas
!/Dotfiles/
!/Wallpapers/
!/hypr/
!/waybar/
!/kitty/
!/rofi/
!/fastfetch/
!/btop/
!/Thunar/
!README.md
!.gitignore
!my_programs.txt

# Ignorar carpetas de caché dentro de las permitidas
**/cache/
**/GPUCache/
**/*.log
